<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./image/foodbackground4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.wrapper {
  position: fixed;
  top: 15%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: grid;
  place-items: center;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

/*外框切換調整*/
.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.signup {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.signup {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  color: #182b16;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #182b16;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #182b16;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #182b16;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #182b16;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #182b16;
  line-height: 57px;
}

.remeber-forgot {
  font-size: 0.9em;
  color: #182b16;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remeber-forgot label input {
  accent-color: #182b16;
  margin-right: 3px;
}

.remeber-forgot a {
  color: #182b16;
  text-decoration: none;
}

.remeber-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #182b16;
  background-color: #182b16; /* 新增這行 */
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: none; /* 新增這行 */
}
.btn:hover {
  background-color: #182b16;
  color: #fff;
}

.login-register {
  font-size: 0.9em;
  color: #182b16;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #182b16;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/* -------------------------------------------------------------------------------------------------- */
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding-left: 20px;
  padding-right: 50px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav .nav-link {
  position: relative;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navbar-nav .nav-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav .btnLogin,
.nav .nav-item:last-child a {
  width: auto;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
  margin-left: 40px;
  transition: 0.5s;
}

.nav .btnLogin:hover,
.nav .nav-item:last-child a:hover {
  background: #fff;
  color: #182b16;
}
@media (max-width: 767px) {
  .navbar-nav .nav-link::after {
    transition: none;
  }
}
.navbar-nav .nav-link::after {
  display: none;
}
/* ------------------------------------------------------------------------------------------------ */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(198, 244, 211);
  padding: 10px;
  text-align: center;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./image/foodbackground4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:rgb(24, 163, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;

}

.nav a {
    position: relative;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}

.nav .btnLogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.nav .btnLogin:hover{
    background: #fff;
    color: #182b16;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px); 
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

/*外框切換調整*/
.wrapper.active{
    height: 520px;
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.signup{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.signup{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    color: #182b16;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #182b16;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #182b16;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #182b16;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #182b16; 
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #182b16;
    line-height: 57px;
}

.remeber-forgot{
    font-size: .9em;
    color: #182b16;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remeber-forgot label input{
    accent-color: #182b16;
    margin-right: 3px;
}

.remeber-forgot a{
    color: #182b16;
    text-decoration: none;
}

.remeber-forgot a:hover{
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #182b16;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #182b16;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}

.login-register p a {
    color: #182b16;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}
>>>>>>> main
